/* //THEME 1 */
:root {
  --icons-color: #4c5773;
  --icons-light-color: #4c577341;
  --icons-bg-color: #e2e6e9;
  --shadow-dark-color: #d3dae7;
  --bg-shadow-dark-color: #d3dae745;
  --shadow-light-color: #fff;
  --main-bg-color: #ecf0f3;

  --box-shadow: 1rem 1rem 1rem var(--shadow-dark-color),
    -1rem -1rem 1rem var(--shadow-light-color);

  --box-shadow-2: 0rem 0rem 0rem var(--shadow-dark-color),
    -0.3rem -0.3rem 1rem var(--shadow-dark-color);
}
